        <!-- ============ VIEW: SOS (tela cheia, sem cabeçalho/rodapé globais) ============ -->
        <section id="view-sos" class="view">
            <div class="sos-container">
                <header class="sos-header">
                    <div class="sos-icon-alert">
                        <span class="material-symbols-rounded">warning</span>
                    </div>
                    <h1>Atendimento de Emergência</h1>
                    <p>Suspeita ou confirmação de intoxicação por defensivos agrícolas.</p>
                </header>
                <div class="sos-content">
                    <div class="call-box">
                        <span class="call-label">DISQUE-INTOXICAÇÃO (ANVISA)</span>
                        <a href="tel:08007226001" class="call-number-btn">
                            <span class="material-symbols-rounded">call</span>
                            0800 722 6001
                        </a>
                        <p class="call-sub">Ligação gratuita, direta e disponível 24h.</p>
                    </div>
                    <div class="call-box medical">
                        <span class="call-label">SOCORRO MÉDICO DE URGÊNCIA</span>
                        <a href="tel:192" class="call-number-btn emergency">
                            <span class="material-symbols-rounded">medical_services</span>
                            Ligar 192 (SAMU)
                        </a>
                    </div>
                    <div class="action-sheet">
                        <h3>Conduta Imediata:</h3>
                        <div class="sheet-item">
                            <span class="item-num">1</span>
                            <p>Afaste a vítima do local da contaminação.</p>
                        </div>
                        <div class="sheet-item">
                            <span class="item-num">2</span>
                            <p>Retire as roupas sujas do produto e lave a pele com água corrente abundante.</p>
                        </div>
                        <div class="sheet-item">
                            <span class="item-num">3</span>
                            <p><strong>Não force o vômito</strong> a menos que orientado explicitamente por um médico.
                            </p>
                        </div>
                        <div class="sheet-item">
                            <span class="item-num">4</span>
                            <p>Leve a embalagem ou o rótulo do produto para o hospital.</p>
                        </div>
                    </div>
                    <a href="#tela" class="exit-btn">
                        <span class="material-symbols-rounded">close</span> Sair do SOS
                    </a>
                </div>
            </div>
        </section>
